[Unit]
Description=batesste-timemachine Apple Timemachine service
Requires=docker.service
After=docker.service

[Service]
Restart=always

# Use /opt working folder
WorkingDirectory=/home/batesste/Projects//batesste-timemachine

# Compose up
ExecStart=docker-compose -f batesste-timemachine-compose.yml up --build

# Compose down, remove containers but not volumes
ExecStop=docker-compose -f batesste-timemachine-compose.yml down

[Install]
WantedBy=multi-user.target
